/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,body{
  min-height: 100%
}
body{
  background-image: url(../img/wholecar.jpg);
  background-position: center;
  color: white;
  font-weight: 100;
}
h3 {
  color: #2db4ec;
  font-size: 16px;
  margin: none;
}

.popup-buttons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.popup-buttons a {
  background-color: #2db4ec;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.engine-button {
  top: 430px;
  left: 300px;
}
.brakes-button {
  top: 500px;
  left: 250px;
}
.cockpit-button {
  top: 340px;
  left: 600px;
}
.wheels-button {
  top: 480px;
  left: 775px;
}
.frame-button {
  top: 470px;
  left: 500px;
}
.lights-button {
  top: 420px;
  left: 125px;
}

.start-section {
  position: absolute;
  top: 0;
  right:0;
  bottom:0;
  left:0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #4a4b4c;
  background-color: black;


}

.btn {
  background-color: #2db4ec;
  border-radius: 8px;
  padding: 5px 20px;
  font-size: 32px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.btn-sml {
  background-color: #2db4ec;
  border-radius: 4px;
  padding: 5px 20px;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.page-section {

}
.content-box {
  background-color:rgba(0,0,0,0.7);
  position: absolute;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
      top: 150px;
      left: 220px;
      z-index: 3;
}
.hide {
  display: none;
}

.btn-close {
  position: absolute;
  z-index: 100;
  top: 5px;
  color: white;
  right: 10px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 24px;
}








/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
